/*
 * Copyright 2016-2020 the original author or authors from the JHipster project.
 *
 * This file is part of the JHipster project, see https://www.jhipster.tech/
 * for more information.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

package <%= packageName %>.service.filtering.filter;

import java.util.Objects;
import io.quarkus.runtime.annotations.RegisterForReflection;

/**
 * Class for filtering attributes with {@link java.lang.String} type.
 * It can be added to a criteria class as a member, to support the following query parameters:
 * <code>
 * fieldName.equals='something'
 * fieldName.notEquals='something'
 * fieldName.specified=true
 * fieldName.specified=false
 * fieldName.in='something','other'
 * fieldName.notIn='something','other'
 * fieldName.contains='thing'
 * fieldName.doesNotContain='thing'
 * fieldName.startsWith='some'
 * fieldName.doesNotStartWith='some'
 * fieldName.endsWith='thing'
 * fieldName.doesNotEndWith='thing'
 * fieldName.like='%thing%'
 * fieldName.notLike='%thing%'
 * </code>
 */
@RegisterForReflection
public class StringFilter extends Filter<String> {

    private static final long serialVersionUID = 1L;

    private String contains;
    private String doesNotContain;
    private String startsWith;
    private String doesNotStartWith;
    private String endsWith;
    private String doesNotEndWith;
    private String like;
    private String notLike;

    /**
     * <p>Constructor for StringFilter.</p>
     */
    public StringFilter() {
    }

    /**
     * <p>Constructor for StringFilter.</p>
     *
     * @param filter a {@link .StringFilter} object.
     */
    public StringFilter(final StringFilter filter) {
        super(filter);
        this.contains = filter.contains;
        this.doesNotContain = filter.doesNotContain;
        this.startsWith = filter.startsWith;
        this.doesNotStartWith = filter.doesNotStartWith;
        this.endsWith = filter.endsWith;
        this.doesNotEndWith = filter.doesNotEndWith;
        this.like = filter.like;
        this.notLike = filter.notLike;
    }

    /**
     * <p>copy.</p>
     *
     * @return a {@link .StringFilter} object.
     */
    @Override
    public StringFilter copy() {
        return new StringFilter(this);
    }

    /**
     * <p>Getter for the field <code>contains</code>.</p>
     *
     * @return a {@link java.lang.String} object.
     */
    public String getContains() {
        return contains;
    }

    /**
     * <p>Setter for the field <code>contains</code>.</p>
     *
     * @param contains a {@link java.lang.String} object.
     * @return a {@link .StringFilter} object.
     */
    public StringFilter setContains(String contains) {
        this.contains = contains;
        return this;
    }

    /**
     * <p>Getter for the field <code>doesNotContain</code>.</p>
     *
     * @return a {@link java.lang.String} object.
     */
    public String getDoesNotContain() {
        return doesNotContain;
    }

    /**
     * <p>Setter for the field <code>doesNotContain</code>.</p>
     *
     * @param doesNotContain a {@link java.lang.String} object.
     * @return a {@link .StringFilter} object.
     */
    public StringFilter setDoesNotContain(String doesNotContain) {
        this.doesNotContain = doesNotContain;
        return this;
    }

    /**
     * <p>Getter for the field <code>startsWith</code>.</p>
     *
     * @return a {@link java.lang.String} object.
     */
    public String getStartsWith() {
        return startsWith;
    }

    /**
     * <p>Setter for the field <code>startsWith</code>.</p>
     *
     * @param startsWith a {@link java.lang.String} object.
     * @return a {@link .StringFilter} object.
     */
    public StringFilter setStartsWith(String startsWith) {
        this.startsWith = startsWith;
        return this;
    }

    /**
     * <p>Getter for the field <code>doesNotStartWith</code>.</p>
     *
     * @return a {@link java.lang.String} object.
     */
    public String getDoesNotStartWith() {
        return doesNotStartWith;
    }

    /**
     * <p>Setter for the field <code>startsWith</code>.</p>
     *
     * @param doesNotStartWith a {@link java.lang.String} object.
     * @return a {@link .StringFilter} object.
     */
    public StringFilter setDoesNotStartWith(String doesNotStartWith) {
        this.doesNotStartWith = doesNotStartWith;
        return this;
    }
    
    /**
     * <p>Getter for the field <code>endsWith</code>.</p>
     *
     * @return a {@link java.lang.String} object.
     */
    public String getEndsWith() {
        return endsWith;
    }

    /**
     * <p>Setter for the field <code>endsWith</code>.</p>
     *
     * @param endsWith a {@link java.lang.String} object.
     * @return a {@link .StringFilter} object.
     */
    public StringFilter setEndsWith(String endsWith) {
        this.endsWith = endsWith;
        return this;
    }

    /**
     * <p>Getter for the field <code>doesNotEndWith</code>.</p>
     *
     * @return a {@link java.lang.String} object.
     */
    public String getDoesNotEndWith() {
        return doesNotEndWith;
    }

    /**
     * <p>Setter for the field <code>doesNotEndWith</code>.</p>
     *
     * @param doesNotEndWith a {@link java.lang.String} object.
     * @return a {@link .StringFilter} object.
     */
    public StringFilter setDoesNotEndWith(String doesNotEndWith) {
        this.doesNotEndWith = doesNotEndWith;
        return this;
    }


    /**
     * <p>Getter for the field <code>like</code>.</p>
     *
     * @return a {@link java.lang.String} object.
     */
    public String getLike() {
        return like;
    }

    /**
     * <p>Setter for the field <code>like</code>.</p>
     *
     * @param like a {@link java.lang.String} object.
     * @return a {@link .StringFilter} object.
     */
    public StringFilter setLike(String like) {
        this.like = like;
        return this;
    }

    /**
     * <p>Getter for the field <code>notLike</code>.</p>
     *
     * @return a {@link java.lang.String} object.
     */
    public String getNotLike() {
        return notLike;
    }

    /**
     * <p>Setter for the field <code>notLike</code>.</p>
     *
     * @param notLike a {@link java.lang.String} object.
     * @return a {@link .StringFilter} object.
     */
    public StringFilter setNotLike(String notLike) {
        this.notLike = notLike;
        return this;
    }

    /** {@inheritDoc} */
    @Override
    public boolean equals(final Object o) {
        if (this == o) {
            return true;
        }
        if (o == null || getClass() != o.getClass()) {
            return false;
        }
        if (!super.equals(o)) {
            return false;
        }
        final StringFilter that = (StringFilter) o;
        return Objects.equals(contains, that.contains) &&
            Objects.equals(doesNotContain, that.doesNotContain) &&
            Objects.equals(startsWith, that.startsWith) &&
            Objects.equals(doesNotStartWith, that.doesNotStartWith) &&
            Objects.equals(endsWith, that.endsWith) &&
            Objects.equals(doesNotEndWith, that.doesNotEndWith) &&
            Objects.equals(like, that.like) &&
            Objects.equals(notLike, that.notLike);
    }

    /** {@inheritDoc} */
    @Override
    public int hashCode() {
        return Objects.hash(super.hashCode(), contains, doesNotContain);
    }

    /** {@inheritDoc} */
    @Override
    public String toString() {
        return getFilterName() + " ["
            + (getEquals() != null ? "equals=" + getEquals() + ", " : "")
            + (getNotEquals() != null ? "notEquals=" + getNotEquals() + ", " : "")
            + (getSpecified() != null ? "specified=" + getSpecified() + ", " : "")
            + (getIn() != null ? "in=" + getIn() + ", " : "")
            + (getNotIn() != null ? "notIn=" + getNotIn() + ", " : "")
            + (getContains() != null ? "contains=" + getContains() + ", " : "")
            + (getDoesNotContain() != null ? "doesNotContain=" + getDoesNotContain() + ", " : "")
            + (getStartsWith() != null ? "startsWith=" + getStartsWith() + ", " : "")
            + (getDoesNotStartWith() != null ? "doesNotStartWith=" + getDoesNotStartWith() + ", " : "")
            + (getEndsWith() != null ? "endsWith=" + getEndsWith() + ", " : "")
            + (getDoesNotEndWith() != null ? "doesNotEndWith=" + getDoesNotEndWith() + ", " : "")
            + (getLike() != null ? "like=" + getLike() + ", " : "")
            + (getNotLike() != null ? "notLike=" + getNotLike() : "")
            + "]";
    }

}
