{@<%=packageName%>.domain.User user}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>JHipster password reset</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="{baseUrl}/favicon.ico" />
</head>
<body>
<p>
    Dear {user.login}
</p>
<p>
    For your JHipster account a password reset was requested, please click on the URL below to reset it:
</p>
<p>
    <a href="{baseUrl}/account/reset/finish?key={user.resetKey}">Login Link</a>
</p>
<p>
    <span>Regards, </span>
    <br/>
    <em>JHipster.</em>
</p>
</body>
</html>
