name: Imperative Smoke Tests
on: [push, pull_request]
env:
    JHI_SCRIPTS: ./test-integration/scripts
jobs:
    applications:
        name: ${{ matrix.app }}
        runs-on: ${{ matrix.os }}
        if: "!contains(github.event.head_commit.message, '[ci skip]') && !contains(github.event.head_commit.message, '[skip ci]')"
        timeout-minutes: 20
        strategy:
            fail-fast: false
            matrix:
                node_version: [12.16.2]
                os: [ubuntu-latest]
                app:
                    - imperative-sql-jwt-maven-sample
                    - imperative-sql-jwt-maven-sqllight
                    - imperative-sql-oauth2-maven-sample
                    - imperative-sql-oauth2-gradle-sqllight
                include:
                    - app: imperative-sql-jwt-maven-sample
                    - app: imperative-sql-jwt-maven-sqllight
                    - app: imperative-sql-oauth2-maven-sample
                    - app: imperative-sql-oauth2-gradle-sqllight
        env:
            JHI_APP: ${{ matrix.app }}
        steps:
            - uses: actions/checkout@v1
            - uses: actions/setup-java@v1
              with:
                  java-version: '11.x'
            - name: git history
              run: git --no-pager log -n 10 --graph --pretty='%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue) <%an>%Creset' --abbrev-commit
            - name: Prepare JHipster env
              run: sudo $JHI_SCRIPTS/01-install-global-jhipster.sh
            - name: 'Generate JHipster Application'
              run: $JHI_SCRIPTS/02-generate-project.sh $JHI_APP
            - name: 'Run JHipster Application server test'
              run: $JHI_SCRIPTS/03-run-server-test.sh $JHI_APP
